<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Poor Bitly Analogue</title>
    </head>
    <body>
        Hellow from Layout!
        <br/>
        @RenderBody()
    </body>
</html>