@model System.Collections.Generic.IEnumerable<Bitly.Entities.Link>
@{
    ViewBag.Title = "Homepage";
}
<div class="container" ng-app="bitlyApp">
    <div class="row">
        <div class="col-xs-12">
            <add-link></add-link>
        </div>
    </div>
</div>